.pokemon-container {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    margin-top: 85px;
    justify-content: space-evenly;

    .pokemon-card {
        margin: 10px;
        flex: 0 0 23%;
        height: 250px;
        min-width: 325px;
        max-width: 350px;
        position: relative;
        margin-bottom: 100px;
        border-radius: 10px;
        transition: .4s all;
        border: 1px solid transparent;
        background-image: url("../../../assets/psychic-copy.svg");
        background-size: 150px;
        background-repeat: no-repeat;
        background-position: 138% 180%;
        

        &:hover {
            cursor: pointer;
            
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
            img {
                width: 230px;
                top: -130px;
                filter: drop-shadow(8px 8px 12px rgba(0, 0, 0, 0.6));
            }
        }

        img {
            width: 200px;
            position: absolute;
            top: -100px;
            left: 50%;
            transform: translate(-50%, 0);
            filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
            transition: .4s all;
            overflow: visible !important;
        }

        .pokemon-info {
            position: absolute;
            top: 35%;
            color: white;
            padding-left: 40px;
        }

        .pokemon-type-container {
            display: flex;
            flex-direction: row;
            align-items: center;

            .pokemon-type {
                padding: 8px; 
                border-radius: 16px;
                margin-right: 3px; 
                margin-top: 10px;
                text-align: center;
                align-items: center;
                color: black;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                p {
                    padding: 0px;
                    margin: 0px;
                    padding-left: 5px;
                }
                
                ion-icon {
                    color: black;
                    filter: invert(100%);
                }
            }
        }
    }
}