ion-toolbar {
    --min-height: 70px;
    --background: var(--pokemon-red);
    --color: white;
  
    img {
      &:hover {
        cursor: pointer;
      }
    }
  }



.bold {
  font-weight: bold;
  font-size: 22px;
}

ion-button {
  --background: var(--pokemon-red);
}
