<ion-content [fullscreen]="true" *ngIf="pokemon">
  <div class="upper-container grass-color-older">
    <div class="header">
      <ion-icon name="arrow-back"></ion-icon>
    </div>
    <div class="pokemon-name">
      <div style="display: flex; flex-direction: column;">
        <h1>{{capitalizeText(pokemon.name!)}}</h1>
        <div>
          <div *ngFor="let type of pokemon.types" style="display: inline-block; padding: 5px; border-radius: 5px; margin-right: 3px; margin-bottom: 3px;" [ngClass]="type.type?.name + '-color'">
            {{capitalizeText(type.type?.name!)}}
          </div>
        </div>
      </div>
      <div>
        <p>001</p>
      </div>
    </div>
    <div style="background-color: white; flex: 1; border-radius: 20px 20px 0px 0px; margin-top: 200px; position: relative;">
      <img [src]="getPokemonImg()" style="width: 250px; position: absolute; top: -200px; left: 50%; transform: translate(-50%, 0);"/>
      <div style="margin-top: 50px;">
        <h1>a</h1>
        <h1>asd</h1>
        <h1>asd</h1>
        <h1>asd</h1>
        <h1>asd</h1>
        <h1>asd</h1>
        <h1>asd</h1>
        <h1>asd</h1>
        <h1>asd</h1>
        <h1>asd</h1>
      </div>
    </div>
  </div>
</ion-content>
