<ion-content [fullscreen]="true" *ngIf="pokemon" [ngClass]="pokemon.types[0]!.type?.name + '-color'">
    <div class="upper-container">
        <div class="header">
            <ion-icon (click)="goToHome()" name="arrow-back"></ion-icon>

            <ion-icon (click)="favPokemon()" [name]="favPokemonIcon"></ion-icon>
        </div>
        <div class="pokemon-info">
            <div class="pokemon-name">
                <h1>{{pokemon.name! | capitalize}}</h1>
                <div>
                    <div *ngFor="let type of pokemon.types" class="types-container"
                        [ngClass]="type.type?.name + '-color-older'">
                        <ion-icon [src]="'../../../assets/' + type.type?.name! + '.svg'"></ion-icon>
                        {{type.type?.name! | capitalize}}
                    </div>
                </div>
            </div>
            <div>
                <p>{{pokemon.id! | stylePokemonId}}</p>
            </div>
        </div>
        <div class="pokemon-details-container">

            <div (click)="changePokemon('backward')" style="position: absolute; top: -100px; left: 40px; border: 20px;">
                <ion-icon name="chevron-back"></ion-icon>
            </div>

            <div (click)="changePokemon('forward')" style="position: absolute; top: -100px; right: 40px;">
                <ion-icon  name="chevron-forward"></ion-icon>
            </div>

            <img class="pokemon-img" [src]="getPokemonImg()" class="pokemon-img" />
            <div style="margin-top: 50px;">
                <ion-segment style="padding: 0px 20px;">
                    <ion-segment-button value="first" content-id="first">
                        <ion-label>Body</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="second" content-id="second">
                        <ion-label style="text-wrap: wrap;">Base Stats</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="third" content-id="third">
                        <ion-label>Gallery</ion-label>
                    </ion-segment-button>
                </ion-segment>
                <ion-segment-view>
                    <ion-segment-content id="first">
                        <div class="about-container">
                            <p class="title">Height:</p>
                            <p>{{pokemon.height! | pokemonBody}}m</p>

                            <p class="title">Weight:</p>
                            <p>{{pokemon.weight! | pokemonBody}}kg</p>

                            <p class="title">Abilities:</p>
                            <p>
                                {{pokemon.abilities | abilities}}
                            </p>

                        </div>
                    </ion-segment-content>
                    <ion-segment-content id="second">
                        <div class="stats-container">
                            @for (stat of pokemon.stats; track $index) {
                                <p class="title">{{stat.stat?.name! | capitalize}}</p>
                                <p>{{stat.base_stat}}</p>
                                <ion-range type="range" max="100" min="1" [value]="stat.base_stat" style="pointer-events: none;" />
                            }
                        </div>
                    </ion-segment-content>
                    <ion-segment-content id="third">
                        <div class="gallery-container">
                            <ion-img [src]="pokemon.sprites?.front_default"  alt="Default Pokemon Front View"/>
                            <ion-img [src]="pokemon.sprites?.back_default"   alt="Default Pokemon Back View"/>
                            <ion-img [src]="pokemon.sprites?.front_shiny"    alt="Shiny Pokemon Front View"/>
                            <ion-img [src]="pokemon.sprites?.back_shiny"     alt="Shiny Pokemon Back View"/>
                        </div>
                    </ion-segment-content>
                </ion-segment-view>
            </div>
        </div>
    </div>
</ion-content>