// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

$pokemon-red: #ff0000;
$pokemon-blue: #3F6FDE;
$pokemon-yellow: #FFD030;
$pokemon-orange: #b3a125;

:root {
  --pokemon-red: #ff0000;
  --pokemon-blue: #3F6FDE;
  --pokemon-yellow: #FFD030;
  --pokemon-orange: #b3a125;
}