/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";

.normal-color       { background-color: var(--normal);         --background: var(--normal); }
.fire-color         { background-color: var(--fire);           --background: var(--fire); }
.water-color        { background-color: var(--water);          --background: var(--water); }
.electric-color     { background-color: var(--electric);       --background: var(--electric); }
.grass-color        { background-color: var(--grass);          --background: var(--grass); }
.ice-color          { background-color: var(--ice);            --background: var(--ice); }
.fighting-color     { background-color: var(--fighting);       --background: var(--fighting); }
.poison-color       { background-color: var(--poison);         --background: var(--poison); }
.ground-color       { background-color: var(--ground);         --background: var(--ground); }
.flying-color       { background-color: var(--flying);         --background: var(--flying); }
.psychic-color      { background-color: var(--psychic);        --background: var(--psychic); }
.bug-color          { background-color: var(--bug);            --background: var(--bug); }
.rock-color         { background-color: var(--rock);           --background: var(--rock); }
.ghost-color        { background-color: var(--ghost);          --background: var(--ghost); }
.dragon-color       { background-color: var(--dragon);         --background: var(--dragon); }
.dark-color         { background-color: var(--dark);           --background: var(--dark); }
.steel-color        { background-color: var(--steel);          --background: var(--steel); }
.fairy-color        { background-color: var(--fairy);          --background: var(--fairy); }

.normal-color-older   { background-color: var(--normal-older);   --background: var(--normal-older); }
.fire-color-older     { background-color: var(--fire-older);     --background: var(--fire-older); }
.water-color-older    { background-color: var(--water-older);    --background: var(--water-older); }
.electric-color-older { background-color: var(--electric-older); --background: var(--electric-older); }
.grass-color-older    { background-color: var(--grass-older);    --background: var(--grass-older); }
.ice-color-older      { background-color: var(--ice-older);      --background: var(--ice-older); }
.fighting-color-older { background-color: var(--fighting-older); --background: var(--fighting-older); }
.poison-color-older   { background-color: var(--poison-older);   --background: var(--poison-older); }
.ground-color-older   { background-color: var(--ground-older);   --background: var(--ground-older); }
.flying-color-older   { background-color: var(--flying-older);   --background: var(--flying-older); }
.psychic-color-older  { background-color: var(--psychic-older); --background: var(--psychic-older); }
.bug-color-older      { background-color: var(--bug-older);      --background: var(--bug-older); }
.rock-color-older     { background-color: var(--rock-older);     --background: var(--rock-older); }
.ghost-color-older    { background-color: var(--ghost-older);    --background: var(--ghost-older); }
.dragon-color-older   { background-color: var(--dragon-older);   --background: var(--dragon-older); }
.dark-color-older     { background-color: var(--dark-older);     --background: var(--dark-older); }
.steel-color-older    { background-color: var(--steel-older);    --background: var(--steel-older); }
.fairy-color-older    { background-color: var(--fairy-older);    --background: var(--fairy-older); }