<!-- <ion-header [translucent]="true" mode="md" class="ion-no-border">
  
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="toolbar">
    <div>
      <img src="../../assets/logo.png" style="display: block;"/>
      <div class="search-row">
        <ion-icon slot="start" name="search"></ion-icon>
        <ion-input [(ngModel)]="searchString" type="text" placeholder="Pokemon name"/>
        <button>
          Search
        </button>
      </div>
    </div>
  </div>

  <app-pokemon-card *ngIf="result" [pokemons]="filterPokemons()"></app-pokemon-card>
</ion-content>
