$toolbar-padding: 35px;

.toolbar {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  background-color: white;
  padding:  $toolbar-padding;
  
  ion-icon {
    color:  var(--pokemon-blue);
  }

  .search-row {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
      background-color: var(--pokemon-yellow);
      color: var(--pokemon-blue);
      font-weight: bold;
      padding: 10px;
      border-radius: 10px;
      width: 120px;

      &:hover {
        box-shadow: 0px 0px 5px 2px var(--pokemon-yellow);
      }
    }
  }

  ion-input {
    display: inline-block !important;
    --highlight-color-focused: var(--pokemon-blue);
    --placeholder-color: var(--pokemon-blue);
    --highlight-height: 0px;
    --border-radius: 16px;
    --padding-start: 10px;
    --color:  var(--pokemon-blue);
  }
}

ion-icon {
  font-size: 26px;

}

.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .pokemon {
    text-align: center;

    &:hover {
      box-shadow: 0px 0px 10px 5px var(--pokemon-blue);
    } 
  }
 
}

@media (min-width: 901px) {
  .pokemon {
    flex: 1 0 31% !important;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .pokemon {
    flex: 1 0 46% !important;
  }
}

@media (max-width: 600px) {

  .pokemon {
    flex: 1 0 50% !important;
  }

}