<!-- <ion-header [translucent]="true" mode="md" class="ion-no-border">
  
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="toolbar">
    <div>
      <img src="../../assets/logo.png" style="display: block;"/>
      <div class="search-row">
        <ion-icon slot="start" name="search"></ion-icon>
        <ion-input [(ngModel)]="searchString" type="text" placeholder="Pokemon name"/>
        <button>
          Search
        </button>
      </div>
    </div>
  </div>

  <div class="pokemon-list">
    <ion-card *ngFor="let pokemon of filterPokemons()" class="pokemon" button="true" (click)="seePokemonDetails(pokemon)" >
      <img [alt]="'Image of ' + pokemon.name" [src]="getPokemonImgClass(pokemon)" />
      <ion-card-header>
        <ion-card-title>{{capitalizePokemonName(pokemon.name)}}</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
